/* -------------
    fonts
   ------------ */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Lobster&family=Poppins:wght@400;500&display=swap");

/* ------------------------------
    common styles or utilities
   ------------------------------ */
body {
  margin: 0%;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

/* --------------------
    top-header style
   -------------------- */

header {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 120px;
}
.top-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161616;
  border-radius: 30px;
  max-width: 1321px;
  max-height: 646px;
  padding: 20px 80px 13px 106px;
  color: #ffffff;
  gap: 24px;
}

.half-width {
  width: 50%;
}

.head-text {
  width: 531px;
  height: 430px;
}

.head-text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  /* or 114% */
  color: #ffffff;
  margin: 0%;
}

.head-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #ffffff;
  margin: 20px 0px 30px 0px;
}

.head-btn {
  font-family: "HelveticaNeue";
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 187px;
  height: 50px;
  text-decoration: none;
  padding: 10px 24px;
  gap: 8px;
  background-color: #dd0000;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.head-btn a {
  text-decoration: none;
  color: white;
}

.head-img img {
  width: 581px;
  height: 613px;
}

/* ----------------------------
    transfer blog list style
   ---------------------------- */
.all-details {
  display: flex;
  justify-content: center;
}

.all-section-list {
  width: 312px;
  height: 312px;
  background: #161616;
  border-radius: 10px;
  margin-right: 24px;
}

.section-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  width: 252px;
  height: 64px;
  margin: 30px;
  cursor: pointer;
}

.section-list a {
  margin: 10px;
  text-decoration: none;
}

#section-btn-one {
  background-color: #ffffff;
}
#section-btn-two {
  background-color: #ffffff;
}

#section-btn-three {
  background-color: #dd0000;
}
#section-btn-one a {
  color: #161616;
}
#section-btn-two a {
  color: #161616;
}
#section-btn-three a {
  color: #ffffff;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 984px;
  height: 1134px;
}

.blog {
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}

.blog img {
  border-radius: 10px 10px 0px 0px;
}

.blog-description {
  padding: 20px;
}

.blog-description p {
  margin: 0%;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #161616;
}

.blog-link {
  padding: 10px 24px;
  background: #ffffff;
  margin-bottom: 14px;
  border: 1px solid #161616;
  border-radius: 5px;
  max-width: 100px;
  text-align: center;
}

.blog-link a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #161616;
}

.blog-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  column-gap: 30px;
}

.logo-time {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  color: rgba(22, 22, 22, 0.7);
}

.logo-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  color: rgba(22, 22, 22, 0.7);
}
